<div class="card container-fluid m-2 p-4">
  <div class="card-header bg-light  d-flex flex-column align-items-center justify-content-center mb-4">
    <h3>Filhos Cadastrados</h3>
  </div>
  <div class="card-img-overlay ">
    <a href="/personal/profile" class="text-decoration-none "><i class="bi bi-back fs-5">Voltar</i></a>
  </div>
  <div class="card-group d-flex flex-wrap w-auto gap-3 align-items-center justify-content-center">
    <div class=" card card-body rounded">
      <div class="card-header ">
        <h5>Alice Silva<i class="bi bi-person-arms-up ms-2"></i></h5>
      </div>
      <div class="card-text m-2">
        <h6>Informações do filho(a):</h6>
        <ul>
          <li>Nome:</li>
          <li>Idade:</li>
          <li>N° do registro:</li>
          <li>N° da família:</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-group btn-outline-success" (click)="openProgress()">
          Ver Progresso Individual
        </button>
      </div>
    </div>
    <div class=" card card-body rounded">
      <div class="card-header ">
        <h5>Caio Silva<i class="bi bi-person-arms-up ms-2"></i></h5>
      </div>
      <div class="card-text m-2">
        <h6>Informações do filho(a):</h6>
        <ul>
          <li>Nome:</li>
          <li>Idade:</li>
          <li>N° do registro:</li>
          <li>N° da família:</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-group btn-outline-success" (click)="openProgress()">
          Ver Progresso Individual
        </button>
      </div>
    </div>
  </div>
  <div>
    <app-progress [show]="showProgress"></app-progress>
  </div>
</div>
