<div class="therapist-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="brand">
      <img src="assets/img/mindway-login-hero.png" alt="MindWay Logo">
      <span>MindWay</span>
    </div>
    <ul class="menu">
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="{{item.icon}}"></i>
          <span class="label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
    <a
      href="/therapist/profile"
      (click)="setClass('profile')"
      [ngClass]="{ 'tab-active': classStyle === 'profile' }"
      class="link me-4 d-flex flex-column align-items-center
      justify-content-center text-decoration-none text-white ">

      <i class="bi bi-person-circle  fs-4"></i>
      <span class="label">Meu Perfil</span>

    </a>
    <a  (click)="logout()" class="link me-4 d-flex flex-column align-items-center justify-content-center text-decoration-none text-white ">
      <i class="bi bi-door-open  fs-4"></i>
      <span class="label">Sair</span>
    </a>
  </aside>

  <!-- Conteúdo -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
