    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 sidebar ">
      <div class="sidebar-header text-center py-4">
        <img src="assets/img/logo.png" alt="MindWay Logo" class="navbar-logo mb-2">
        <h5 class="text-white">MindWay</h5>
      </div>

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/profile">
            <i class="bi bi-person-circle"></i> Perfil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/historico">
            <i class="bi bi-calendar-check"></i> Histórico
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/relatos">
            <i class="bi bi-pencil-square"></i> Relatos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/tarefas">
            <i class="bi bi-check-square"></i> Tarefas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/notificacoes">
            <i class="bi bi-bell"></i> Notificações
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">
            <i class="bi bi-box-arrow-right"></i> Sair
          </a>
        </li>
      </ul>
    </div>
