<div class="information-container d-flex flex-column p-4">
  <div>
    <h3>Informações de Perfil</h3>
  </div>
  <div class="card-body d-flex flex-row w-100 align-items-center justify-content-around ">
    <div>
      <p>Descrição do perfil profissional!</p>
    </div>
    <div class="">
      <i class="bi bi-person-circle text-secondary fs-1"></i>
    </div>
  </div>
  <div class="card-body d-flex flex-row flex-wrap w-100 align-items-center justify-content-around ">
    <button class="card p-2 d-flex flex-column align-items-center">
      <div>
        <i class="bi bi-mortarboard-fill text-secondary fs-1 "></i>
      </div>
      <div>
        <h5>Meus Conhecimentos</h5>
      </div>
      <div>
        <p>Clique para adicionar conhecimentos profissionais</p>
      </div>
    </button>
    <button class="card p-2 d-flex flex-column align-items-center">
      <div>
        <i class="bi bi-mortarboard-fill text-secondary fs-1 "></i>
      </div>
      <div>
        <h5>Ver feedbacks</h5>
      </div>
      <div>
        <p>Clique para adicionar conhecimentos profissionais</p>
      </div>
    </button>
    <button class="card p-2 d-flex flex-column align-items-center">
      <div>
        <i class="bi bi-mortarboard-fill text-secondary fs-1 "></i>
      </div>
      <div>
        <h5>Meus Conhecimentos</h5>
      </div>
      <div>
        <p>Clique para adicionar conhecimentos profissionais</p>
      </div>
    </button>
  </div>

</div>
