$mw-primary:  #006c70;
$mw-accent:   #f4b313;
$bg-light:    #f4f7f6;
$text-muted:  #6c757d;
$border: #4345444b;
$group: #fff;

h1, h2, h3, h4, h5, h6 {
  color: $mw-primary;
}

.information-container {
  background-color: $bg-light;
  min-height: 40vh;
}
