$primary:  #006c70;
$accent:   #f4b313;
$bg-light: #f4f7f6;
$text-muted: #6c757d;
$bg-info: #fff;


h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

.card-text {
  .card-body {
    background-color: $bg-light;
    max-width: 18rem;
    width: auto;
    min-width: 15rem;
    margin-top: 1rem;

    button {
      font-weight: 500;
    }
  }
}

.card-body {
  background-color: $bg-info;
}
