<div class="d-flex flex-column bg-white align-items-center py-5  bg-custom">
  <!-- Section: Welcome message -->
  <div class="row w-100 justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display mb-2">Bem-vindo ao <span>MindWay</span></h1>
      <p class="lead mb-4 text-muted fw-normal">
        <!-- MindWay é um sistema dedicado a ajudar pais e terapeutas no acompanhamento de
        crianças neurodivergentes. <br> -->
        Com a nossa plataforma, todos têm acesso fácil ao
        histórico, evolução e acompanhamento.
      </p>
      <a href="/personal/profile" class="btn btn-warning btn-lg shadow-lg">
        <i class="bi bi-box-arrow-in-right"></i> Acessar meu perfil
      </a>
    </div>
  </div>

  <!-- Section: Features -->
  <div class="features d-flex gap-4 flex-wrap mt-5 justify-content-center text-center">
    <!-- Histórico de Atendimentos -->
    <div class="features-card mb-4">
      <div class="card border-0  rounded-lg align-items-center">
        <img src="assets/img/calendarM2.PNG" class="img-top" alt="Terapeuta" >
        <div class="card-body">
          <h5 class="card-title ">Agendamento de Atendimentos</h5>
          <p class="card-text">Agende atendimentos de forma rápida e fácil, garantindo o melhor acompanhamento para você e sua família.</p>
          <a href="/appointments" class="btn btn-primary shadow-lg">Agende Aqui</a>
        </div>
      </div>
    </div>

    <!-- Rede de Apoio -->
    <div class="features-card mb-4">
      <div class="card border-0 rounded-lg align-items-center">
        <img src="assets/img/rede2.png" class="img-top" alt="Tarefas" >
        <div class="card-body">
          <h5 class="card-title ">Rede de Apoio</h5>
          <p class="card-text">Conecte-se a sua rede de apoio! O MindWay está aqui para ajudar.</p>
          <a href="/social-network" class="btn btn-primary shadow-lg">Entrar na Rede</a>
        </div>
      </div>
    </div>

    <!-- Relatos dos Pais -->
    <div class="features-card mb-4">
      <div class="card border-0 rounded-lg align-items-center">
        <img src="assets/img/family1.png" class="img-top" alt="Pais">
        <div class="card-body">
          <h5 class="card-title ">Fórum de Dúvidas</h5>
          <p class="card-text"> Dúvidas e relatos de experiências podem ser compartilhados aqui.</p>
          <a href="/personal/relation" class="btn btn-primary shadow-lg">Ver Relatos</a>
        </div>
      </div>
    </div>

    <!-- Tarefas e Guias -->
    <div class="features-card mb-4">
      <div class="card border-0 rounded-lg align-items-center">
        <img src="assets/img/guide1.png" class="img-top" alt="Tarefas" >
        <div class="card-body">
          <h5 class="card-title ">Facilidades e Guias de Atendimento</h5>
          <p class="card-text"> Acesse recursos e orientações para facilitar seu acompanhamento.</p>
          <a href="/personal/task" class="btn btn-primary shadow-lg">Ver Tarefas</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Call to Action -->
  <div class="w-100 row mt-5 text-center">
    <div class="action">
      <h2 class="">Acompanhamento Personalizado !</h2>
      <p class="lead text-muted fw-normal ">No MindWay, cada detalhe importa. <br>
        Trabalhe lado a lado com profissionais especializados  e acompanhe a evolução com facilidade e apoio contínuo.</p>
      <a href="/login" class="btn btn-warning btn-lg shadow-lg">
        <i class="bi bi-box-arrow-in-right"></i> Começar Agora
      </a>
    </div>
  </div>
</div>
