
$primary-color: #006c70;
$secondary-color: #f4b313;
$bg-color: #f4f7f6;
$text-muted-color: #6c757d;
$bg-color-dark: #23232e;

div {
  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-weight: 700;
  }
}

.network-container {
  width: 100%;
  background-color: $bg-color;
  min-height: 80vh;
  justify-content: start;
  position: relative;
  overflow: hidden;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    min-height: 110vh;
  }

  .inputGroup {
    max-width: 200px;
    background-color: $bg-color;
    padding: 0.2rem .5rem;
    flex-direction: row;
    border-radius: 1rem;

    input {
      width: 90%;
      outline: none;
      border: none;
      background-color: transparent;
    }

    i {
      color: $primary-color;
      font-size: 1.2rem;
    }
  }

  .side-bar-button {
    display: none;

    @media (max-width: 800px) {
      display: flex;
      position: fixed;
      top: 22rem;
      z-index: 20;
      a {
        cursor: pointer;
        padding: .7rem .2rem;
        background-color: $bg-color-dark;
        color: $bg-color;
        border-radius: 0px 10px 10px 0px;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .side-bar.hide {
    @media (max-width: 800.1px) {
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none;
    }
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 300px;
    background-color: $primary-color;
    min-height: 100vh;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    border-right: 5px solid $text-muted-color;

    .social {
      .social-list {
        .social-container {
          p {
            color: $primary-color;
            font-weight: 500;
          }
        }
        .social-options {
          button {
            font-weight: 600;
          }
          i {
            color: $secondary-color;
          }
          .open {
            background-color: $primary-color;
            color: $bg-color;
          }
          .member {
            background-color: $primary-color;
            color: $bg-color;
          }
        }
      }
    }
    .add-social-container {
      // background-color: $bg-color;
      padding: .2rem .5rem;
      border-radius: .2rem;
      .add-social {
        background-color: $primary-color;
        color: $bg-color;
        border: 2px solid white;
        transition: ease 0.3s;
        &:hover {
          background-color: $bg-color-dark;
        }
        i {
          color: $secondary-color;
        }
      }
    }

    .close-btn {
      display: none;
    }

    @media (max-width: 800px) {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      min-height: inherit;
      height: fit-content;
      box-shadow: 2px 0 16px rgba(0,0,0,0.08);
      background: #23232e;
      z-index: 1000;
      transition: transform 0.4s, opacity 0.3s;
      .close-btn {
        display: block;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 1.4rem;
        position: absolute;
        right: 8px;
        top: 12px;
        z-index: 50;
      }
    }

    hr {
      width: 90%;
      border: 1px solid $bg-color;
      margin: 1rem 0;
    }

    .side-bar-logo {
      overflow: hidden;
      width: fit-content;
      height: fit-content;
      border-radius: 50%;
      box-shadow: 1px 1px 15px 3px rgba(230, 228, 228, 0.1);
      img {
      width: 100px;
      height: 100px;}
    }
  }

  .chat-container {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    padding: 1.5rem;
    z-index: 1;
    overflow-x: hidden;
    animation: slide-down-out 0.5s cubic-bezier(.48,.13,.31,1.19) both;


    @media (max-width: 800px) {
      width: 100%;
    }

    .bgImg {
      position: absolute;
      inset: 0;
      left: 5%;
      width: 90%;
      height: 100%;
      object-fit: contain; // ou contain
      opacity: 0.09;
      box-shadow: 0 8px 32px rgba(0,0,0,0.4);
      z-index: 0;
      pointer-events: none;
      border-radius: 50%;
      z-index: -1;

      @media (max-width: 800px) {
        opacity: 0.3;
        height: 90%;
      }
    }

    .chat-container-header {
      align-items: start;
      p {
        max-width: 800px;
        text-align: justify;
        font-weight: 300;
        font-size: 1.1rem;
      }
        @media (max-width: 800px) {
          p {
            font-weight: 350;
            font-size: 1rem;
            background-color: #f4f7f661;
          }
        }
    }

    .chat-box {
        align-items: center;
        justify-content: center;
      .chat-box-options {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .6rem;
          padding: .4rem 1rem;
          border-radius: .3rem;
          background-color: $primary-color;
          border: none;
          color: $bg-color;
          i {
            color: $secondary-color;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.chat-window {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 96.5vh;
  width: 100%;
  // border: 1px solid black;
  background-color: $bg-color;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
  gap: 1rem;

  .chat-window-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border-block: 3px solid $text-muted-color;
    background-color: $primary-color;
    h4 {
      display: flex;
      text-align: center;
      align-items: center;
      height: 100%;
      font-weight: 400;
      color: $bg-color;
    }
  }

  .chat-window-body {
    width: 92%;
    min-height: 70vh;
    overflow-x: hidden;
    position: relative;
    .bgImg2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: 350px;
      object-fit: contain;
      opacity: 0.07;
      box-shadow: 0 8px 32px rgba(0,0,0,0.4);
      z-index: 0;
      pointer-events: none;
      border-radius: 60%;

      @media (max-width: 800px) {
        opacity: 0.1;
      }
    }

    /* Chrome, Safari, Edge */
    scrollbar-width: thin;              /* Firefox */
    scrollbar-color: #d0d6e1 transparent;

    &::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #d0d6e1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .body-temp {
      display: flex;
      flex-direction: column;
      position: relative;
      max-height: 70vh;
      padding-inline: .9rem;
      align-items: center;
      overflow-y: auto;
      h5 {
        position: sticky;
        top: 0;
        margin-bottom: 1rem;
        font-weight: 400;
        background-color: $bg-color;
        text-align: center;
      }
    }
  }

  .chat-window-send {
    width: 100%;
    z-index: 1;
    input {
      width: 90%;
      border: none;
      padding-inline: 1rem;
    }
    button {
      background-color: $primary-color;
      border-radius: 0px 5px 5px 0px;
      i {
        font-size: 1.3rem;
      }
    }
    @media (max-width: 800px) {
      padding-inline: .5rem;
    }
  }
  animation: slide-up-in 0.5s cubic-bezier(.48,.13,.31,1.19) both;

}

/* animação */
@keyframes slide-up-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-down-out {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.messages {
  max-height: 100px;
  overflow-y: auto;
}

.message {
  max-width: 300px;
  background: $primary-color; // $bg-light da paleta MindWay
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  b {
    min-width: fit-content;
    max-height: fit-content;
    color: $secondary-color;
  }
  span {
    font-weight: 400;
    color: $bg-color;
    font-size: 1rem;
    text-align: left;
    // max-width: 300px;
    word-break: break-word;
    white-space: pre-line; /* permite quebra normal e \n */
    /* Opcional: */
    overflow-wrap: break-word;
  }
  small {
    color: $bg-color;
    font-size: .7rem;
    text-align: left;
    width: 100%;
  }
}

.message-left {
  align-self: flex-start;
}

.message-right {
  align-self: flex-end;
  background: $bg-color-dark;
}

// Modais aqui

.modal-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 9999;
  background: rgba(35, 35, 46, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: #fff;
  padding: 2.5rem 1.2rem 1.2rem 2rem;
  border-radius: 1rem;
  max-width: 410px;
  width: 100%;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  animation: modalIn 0.25s;
  @media (max-width: 700px) {
    width: 90%;
  }
}

@keyframes modalIn {
  from { transform: translateY(40px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

.modal-card h4 {
  color: $primary-color;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 0.5rem;
}

.mw-btn {
  background: $primary-color;
  color: #fff;
  border: none;
  font-weight: 600;
  transition: .2s;
}
.mw-btn:disabled {
  opacity: .7;
  cursor: not-allowed;
}

.back {
  cursor: pointer;
}
