<div class="network-container d-flex  flex-row text-center">
  <div class="side-bar d-flex flex-column align-items-center">
    <div class="side-bar-logo">
      <img src="assets/img/rede2.png" alt="Rede de Apoio" class="img-fluid" style="max-width: 200px;">
    </div>
    <hr>
    <div>
      <h3 class="text-white mb-4">Minhas Redes!</h3>
    </div>
    <div class="d-flex flex-row w-100 justify-content-between">
      <div class="d-flex flex-row align-items-center input-group gap-2">
        <i class="bi bi-search fs-6"></i>
        <input type="text" placeholder="Pesquisar Rede" class="" />
      </div>
    </div>

  </div>
  <div class="chat-container">
    <img
      class="bgImg"
      src="../../../assets/img/rede.png"
      alt=""
      aria-hidden="true"
    />
    <div class="chat-container-header w-100">
        <h1 class="mb-4">Bem-vindo à Rede de Apoio MindWay</h1>
        <hr class="w-75">
        <p class=" mb-2 text-left">
          Conecte-se com sua rede de apoio, compartilhe experiências, tire dúvidas e encontre suporte em nossa
          comunidade dedicada ao bem-estar de nossos pacientes.
        </p>
        <p class=" mb-4 text-left">
          Participe de discussões, acesse recursos exclusivos e
          fortaleça sua rede de apoio para um acompanhamento mais eficaz.
    </div>
    <div class="chat-box d-flex w-100">
      <div class="chat-box-options d-flex gap-4">
        <button>Abrir Chat <i class="bi bi-plus-circle  "></i></button>
        <button>Pesquisar Chat <i class="bi bi-chat"></i></button>
        <button>Chat <i class="bi bi-chat"></i></button>
      </div>
    </div>
  </div>
</div>
