
$primary-color: #006c70;
$secondary-color: #f4b313;
$bg-color: #f4f7f6;
$text-muted-color: #6c757d;

.network-container {
  width: 100%;
  background-color: $bg-color;
  min-height: 80vh;
  justify-content: start;

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
    font-weight: 700;
  }

  .input-group {
    background-color: $bg-color;
    padding: 0.2rem 1rem;
    border-radius: 1rem;

    input {
      width: 90%;
      outline: none;
      border: none;
      background-color: transparent;
    }

    i {
      color: $primary-color;
      font-size: 1.2rem;
    }
  }

  .side-bar {
    width: 20%;
    min-width: 200px;
    background-color: $primary-color;
    min-height: 100vh;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    border-right: 5px solid $text-muted-color;

    hr {
      width: 90%;
      border: 1px solid $bg-color;
      margin: 1rem 0;
    }

    .side-bar-logo {
      overflow: hidden;
      width: fit-content;
      height: fit-content;
      border-radius: 50%;
      box-shadow: 1px 1px 15px 3px rgba(230, 228, 228, 0.1);
      img {
      width: 100px;
      height: 100px;}
    }
  }

  .chat-container {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    padding: 1.5rem;
    z-index: 1;

    .bgImg {
      position: absolute;
      inset: 0;
      left: 5%;
      width: 90%;
      height: 100%;
      object-fit: contain; // ou contain
      opacity: 0.09;
      box-shadow: 0 8px 32px rgba(0,0,0,0.4);
      z-index: 0;
      pointer-events: none;
      border-radius: 50%;
    }

  .chat-container-header {
    align-items: start;
    p {
      max-width: 700px;
      text-align: justify;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }

  .chat-box {
    .chat-box-options {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .6rem;
        padding: .4rem 1rem;
        border-radius: .3rem;
        background-color: $primary-color;
        border: none;
        color: $bg-color;
        i {
          color: $secondary-color;
          font-size: 1.4rem;
        }
      }
    }
  }
  }
}
