$mw-primary:  #006c70;
$mw-accent:   #f4b313;
$bg-light:    #f4f7f6;
$text-muted:  #6c757d;

h1, h2, h3, h4, h5, h6 {
  color: $mw-primary;
  font-weight: 700;
}

.input-search {
  width: 80%;
  min-width: 250px;
  padding: .3rem .7rem;
  border-radius: .3rem;
  border: 1px solid rgba(162, 161, 161, 0.238);
  &:focus {
    outline: none;
  }
}

th {
  background-color: $mw-primary;
  color: $bg-light;
}

.btn-calendar {
  background-color: $mw-primary;
  color: $bg-light;
  font-style: italic;
  &:hover {
    background-color: $text-muted;
  }
  i {
    color: $mw-accent;
  }
}
@media (max-width: 600px) {

    table {
      font-size: 0.93rem;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    th, td {
      min-width: 95px;
      padding: 0.5rem 0.25rem;
    }
}
