<div class="edit-profile-container border">

  <div class="p-2">
    <a class="text-decoration-none back" (click)="goBack()"><i class="bi bi-back fs-5">Voltar</i></a>
  </div>

  <!-- CTA -->
  <section class="profile-cta d-flex align-items-start justify-content-between mb-0">
    <div>
      <h2 class="fw-bold mb-2">Seu perfil, sua identidade.</h2>
      <p class="lead text-muted mb-0">
        Mantenha suas informações sempre atualizadas para uma experiência personalizada na plataforma MindWay!
      </p>
    </div>
    <img class="cta-img d-none d-md-block" src="assets/img/consult6.png" alt="Perfil" />
  </section>

  <!-- Dados do usuário -->
  <div class="profile-card  p-4 bg-white border">
    <h4 class="mb-4">Informações pessoais</h4>

    <ng-container *ngIf="!loading && !editing">
      <div class="row g-3 mb-2">
        <div class="col-md-6">
          <label>Nome</label>
          <div class="profile-info">{{ user.name }}</div>
        </div>
        <div class="col-md-6">
          <label>Sobrenome</label>
          <div class="profile-info">{{ user.surname }}</div>
        </div>
        <div class="col-md-6">
          <label>E-mail</label>
          <div class="profile-info">{{ user.email }}</div>
        </div>
        <div class="col-md-6">
          <label>Celular</label>
          <div class="profile-info">{{ user.contact?.smartphone }}</div>
        </div>
        <div class="col-md-6">
          <label>Telefone</label>
          <div class="profile-info">{{ user.contact?.telephone }}</div>
        </div>
        <div class="col-md-6">
          <label>País</label>
          <div class="profile-info">
            {{ user.address?.country }}
          </div>
        </div>
        <div class="col-md-6">
          <label>Endereço</label>
          <div class="profile-info">
            {{ user.address?.address_name }} {{ user.address?.address_number }}<br>
            {{ user.address?.city }} - {{ user.address?.state }} | CEP: {{ user.address?.cep }}
          </div>
        </div>
      </div>
      <button class="btn btn-accent mt-3" (click)="startEdit()">
        <i class="bi bi-pencil-square "></i> Editar informações
      </button>
      <button class="btn btn-accent mt-3 btn-mobile" (click)="startEdit()">
        <i class="bi bi-pencil-square "></i> Editar
      </button>
    </ng-container>

    <!-- Form de edição -->
    <form *ngIf="editing" [formGroup]="profileForm" (ngSubmit)="save()">
      <div class="row g-3">
        <div class="col-md-6">
          <label>Nome</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-6">
          <label>Sobrenome</label>
          <input type="text" class="form-control" formControlName="surname">
        </div>
        <div class="col-md-6">
          <label>E-mail</label>
          <input type="email" class="form-control" formControlName="email" >
        </div>
        <div class="col-md-6" formGroupName="contact">
          <label>Celular</label>
          <input type="text" class="form-control" formControlName="smartphone">
        </div>
        <div class="col-md-6" formGroupName="contact">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telephone">
        </div>
        <div class="col-md-6" formGroupName="address">
          <label>País</label>
          <input
            type="text"
            class="form-control mb-2"
            placeholder="Pesquisar país..."
            [(ngModel)]="countrySearchTerm"
            [ngModelOptions]="{standalone: true}"
            autocomplete="off"
          >
          <select class="form-select" formControlName="country">
            <option value="">Selecione o país</option>
            <option *ngFor="let pais of filteredCountries" [value]="pais">
              {{ pais }}
            </option>
          </select>
        </div>
        <div class="col-md-6" formGroupName="address">
          <label>Endereço</label>
          <input type="text" class="form-control" formControlName="address_name" placeholder="Rua, Av...">
        </div>
        <div class="col-md-3" formGroupName="address">
          <label>Número</label>
          <input type="text" class="form-control" formControlName="address_number">
        </div>
        <div class="col-md-3" formGroupName="address">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="cep">
        </div>
        <div class="col-md-4" formGroupName="address">
          <label>Estado</label>
          <input type="text" class="form-control" formControlName="state">
        </div>
        <div class="col-md-4" formGroupName="address">
          <label>Cidade</label>
          <input type="text" class="form-control" formControlName="city">
        </div>
      </div>
      <div class="d-flex gap-2 mt-4">
        <button class="btn btn-success w-100" type="submit">
          Salvar
        </button>
        <button type="button" class="btn btn-outline-secondary w-100" (click)="cancelEdit()">
          Cancelar
        </button>
      </div>
      <div class="text-success mt-2" *ngIf="successMsg">{{ successMsg }}</div>
      <div class="text-danger mt-2" *ngIf="errorMsg">{{ errorMsg }}</div>
    </form>
    <div *ngIf="loading" class="text-muted mt-2">Carregando...</div>
  </div>
</div>
