$primary-color: #006c70;
$secondary-color: #f4b313;
$bg-color: #f4f7f6;
$text-muted-color: #6c757d;

.unauthorized-wrapper {
  min-height: 100vh;
  background: $bg-color;
  color: $text-muted-color;

  h1 {
    color: $primary-color;
  }

  button {
    background: $primary-color;
    border: none;
    &:hover {
      background: darken($primary-color, 7%);
    }
  }
}
