<!-- pages/footer/footer.component.html -->
<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Coluna 1: Links úteis -->
      <div class="col-md-4">
        <h5>Links úteis</h5>
        <ul class="list-unstyled">
          <li><a href="/sobre" class="text-white">Sobre</a></li>
          <li><a href="/contato" class="text-white">Contato</a></li>
          <li><a href="/politica-privacidade" class="text-white">Política de Privacidade</a></li>
          <li><a href="/termos-de-uso" class="text-white">Termos de Uso</a></li>
        </ul>
      </div>

      <!-- Coluna 2: Redes sociais -->
      <div class="col-md-4">
        <h5>Siga-nos</h5>
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.facebook.com" target="_blank" class="text-white"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="https://www.instagram.com" target="_blank" class="text-white"><i class="bi bi-instagram"></i> Instagram</a></li>
          <li><a href="https://twitter.com" target="_blank" class="text-white"><i class="bi bi-twitter"></i> Twitter</a></li>
        </ul>
      </div>

      <!-- Coluna 3: Informações de copyright -->
      <div class="col-md-4">
        <p>&copy; 2025 MindWay. Todos os direitos reservados.</p>
        <p>Desenvolvido com carinho pela equipe MindWay.</p>
      </div>
    </div>
  </div>
</footer>
